spacy==3.4.2
numpy==1.23.5
thinc==8.1.10
streamlit
pyvis
graphviz>=0.20.1

# After installing these packages, install the Turkish NLP model from
# Hugging Face with:
#   pip install https://huggingface.co/turkish-nlp-suite/tr_core_news_md/resolve/main/tr_core_news_md-any-py3-none-any.whl
