spacy~=3.7
streamlit
pyvis
graphviz>=0.20.1

# After installing these packages, obtain the Turkish NLP model from
# https://github.com/turkish-nlp-suite/turkish-spacy-models
# and install it with:
#   pip install -e turkish-spacy-models/tr_core_news_md
#   python -m spacy link tr_core_news_md tr_core_news_md
